//樣式更換 nth($bg,$style);
$web:           A               B               C;
$main-color:    #e33435        #0666e8         #d100d1;
$bg:            #e33435        #0666e8         #d100d1;
$hot-color:     #01a5ca        #0666e8         #0666e8;

$style: index($web,A);

$text-color: #fff;
$link-color: #000;
$link-color-hover: #fff;
$wrap-width: 1024px;
$bg-color: #E8E8E8;
$primary-color: #041936;
$second-color: #062145;
$primary-text-color: rgb(68, 210, 253);